@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    width: 580px
  .swiper-slide
    &__img
      width: 100%
      object-fit: cover
  .card
    width: 230px
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .header
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
  .search
    &__input
      max-width: 340px
  .logo
    &__img
      width: 132px
  .nav
    padding-top: 22px
    padding-bottom: 22px
  .menu
    &__item
      &-link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
      &__rigth
        flex-direction: row
    &-slider
      margin-bottom: 30px
      width: 100%
      &__img
        width: 100%
  .booking
    width: 340px
  .map
    height: 210px
.reviews
  &-slider
    &__item
      max-width: 580px
    &__text
      height: 325px
      text-align: justify
.activities
  padding: 65px 35px 70px 35px
  &-wrapper
    flex-wrap: wrap
  &__card
    width: 340px
    height: 255px
    margin-bottom: 20px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .header
    &__search, &__user
      display: none
    &-burger
      cursor: pointer
      &__menu
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        background-color: #fff
        &-line
          width: 16px
          height: 1px
          background-color: $textColor
  .nav
    display: none
  .hotel
    &-info
      &__left
        width: 100%
      &__offer
        order: -1
        margin-bottom: 10px
      &__titlle
        flex-basis: 100%
      &__ratting
        margin-bottom: 17px
      &__rigth
        display: none
    &-slider
      height: 350px
      margin-bottom: 20px
    &__booking
      margin-bottom: 20px
    &-wrapper
      justify-content: space-between
      align-items: center
    &-grid
      &__rigth
        flex-direction: column
        align-items: baseline
  .booking
    width: 100%
  .map
    width: 100%
  .ratting
    flex-basis: auto
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, 
        &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px  
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .activities
    padding: 40px 20px 60px 20px
    &__card
      width: 100%
      height: 255px

@media (max-width: 576px)
  .container
    max-width: 87,5%
  .logo
    &__img
      width: 99px
  .hotel
    &-info
      &__descriptions
        max-width: 280px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 20px 83px 20px
  .subscribe
      width: 100%
      margin-top: 37px
  .reviews
    padding: 40px 20px 50px 20px
    &-title
      max-width: 245px
      margin: 0 auto
      font-family: Mulish
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0
        // max-width: 100%

      &__profile
        height: 438px
        padding: 0 31px 36px
        // height: 100%
      &__text
        overflow-y: auto
        text-align: left
        // text-overflow: clip
  .swiper-wrapper
    
    

  


  