@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 580px
  .swiper-slide
    &__img
      width: 100%
      object-fit: cover
@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
  .search
    &__input
      max-width: 340px
  .logo
    &__img
      width: 132px
  .nav
    padding-top: 22px
    padding-bottom: 22px
  .menu
    &__item
      &-link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
      &__rigth
        flex-direction: row
    &__slider
      margin-bottom: 30px
  .booking
    width: 340px
  .map
    height: 210px
  .slider
    width: 100%


@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .header
    &__search, &__user
      display: none
    &-burger
      cursor: pointer
      &__menu
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        background-color: #fff
        &-line
          width: 16px
          height: 1px
          background-color: $textColor
  .nav
    display: none
  .hotel
    &-info
      &__left
        width: 100%
      &__offer
        order: -1
        margin-bottom: 10px
      &__titlle
        flex-basis: 100%
      &__ratting
        margin-bottom: 17px
      &__rigth
        display: none
    &__slider
      height: 350px
      margin-bottom: 20px
    &__booking
      margin-bottom: 20px
    &-wrapper
      justify-content: space-between
      align-items: center
    &-grid
      &__rigth
        flex-direction: column
        align-items: baseline
  .booking
    width: 100%
  .map
    width: 100%
    &__iframe
      width: 100%


  .ratting
    flex-basis: auto
  .slider
    height: 350px
  .swiper-slide
    &__img
      height: 100%
  

@media (max-width: 576px)
  .container
    max-width: 87,5%
  .logo
    &__img
      width: 99px
  .hotel
    &-info
      &__descriptions
        max-width: 280px
  .slider
    height: 250px
  


  